<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css"> </head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
    <div class="container">
      <a class="navbar-brand" href="#">Google帳號</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent"> </div>
    </div>
    <span class="navbar-text text-white">您有權利編輯</span>
  </nav>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 border border-primary">
          <form class="py-2">
            <h3 class="" contenteditable="true">3DP以料換料存入</h3>
            <p class="">請值班人員依照下列填表內容協助欲進行以料換料的使用者填寫。
              <br>
            </p>
            <p class="">提交這份表單時，系統會記錄你的電子郵件地址 (EX@gm.nfu.edu.tw)。如果這不是你的帳戶，請切換帳戶</p>
            <div class="form-group">
              <label>使用者</label>
              <input type="text" class="form-control" placeholder="使用者名稱">
              <small class="form-text text-muted">個人使用填姓名；組織使用填組織名稱，例如：某某中心...。</small>
            </div>
            <div class="form-group">
              <label>單位</label>
              <input type="text" class="form-control" placeholder="使用者單位">
              <small class="text-muted form-text">個人使用請填系所，組織使用填組織，例如：某某實驗室...。</small>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">聯絡電話</label>
              <input type="text" class="form-control" placeholder="聯絡電話" id="inlineFormInput">
              <small class="text-muted form-text">EX:09XX-XXX-XXX</small>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">電子信箱</label>
              <input type="text" class="form-control" id="inlineFormInput" placeholder="電子信箱"> </div>
            <div class="input-group my-1">
              <input type="text" class="form-control w-25 form-control-sm mx-1" id="inlineFormInput" placeholder="材質">
              <input type="text" class="form-control w-25 form-control-sm" placeholder="顏色" id="inlineFormInput">
              <input type="number" class="form-control form-control-sm mx-1 w-25" placeholder="重量">
              <div class="input-group-append">
                <button class="btn btn-primary btn-sm" type="button">輸入</button>
              </div>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th>材質</th>
                  <th>顏色</th>
                  <th>重量(g)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>PLA</td>
                  <td>白色</td>
                  <td>1000</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>PLA</td>
                  <td>白色</td>
                  <td>1000</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>PLA</td>
                  <td>白色</td>
                  <td>1000</td>
                </tr>
              </tbody>
            </table>
            <div class="form-group">
              <label for="exampleInputEmail1">備註</label>
              <input type="text" class="form-control" id="inlineFormInput" placeholder="須注意事項">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">填表人</label>
              <input type="text" class="form-control" id="inlineFormInput" placeholder="填表人姓名">
            </div>
          </form>
          <button type="submit" class="btn btn-primary my-2">輸入</button>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:250px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
  </pingendo>
</body>

</html>